@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Say my name" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
